<!doctype html>

<section class="main-header">
  <h1>Welcome to Ponstagram!</h1>
  <img src="<%= asset_path "image2.png" %>">
</section>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ponstagram</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>
