<!doctype html>

<section class="main-header">
  <br>
  <br>
<h1>PONSTAGRAM</h1>
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "no_image.png" %>">

</section>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Ponstagram</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>
