<!doctype html>
<html lang="ja">

<section class="main-header">

  <br>
  <h1>Welcome to Ponstagram!</h1>


  <div class="col-md-6 col-md-offset-3">
    <% @photos.each do |photo| %>
      <p><%= photo.title %></p>
      <p><%= photo.content %></p>
      <p><%= image_tag(photo.image_url) %></p>
    <% end %>
    </div>

</section>
