
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>写真一覧</h1>
      <%= link_to "写真を投稿する", new_photo_path, class: 'btn btn-default' %>
    <% @photos.each do |blog| %>
    <div class="row">
    


      <%= link_to "編集", edit_photo_path(blog.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", photo_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
