
header {
  width: 100%;
  background-color: white;
  height: 54px;
}


header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.main-header {
  padding-bottom: 0%;
  width: 100%;
  margin: 0 auto;
  background-size: auto auto;
}

.main-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0%;
}

.about {
  background-color: #99cc00;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

body {
  color: black;
	background-color: #DEE1DE
}


html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}

.flash {
  color: white;
  padding-top: 10px;
}
